.hidden {
    display: none;
}

body {
    display: flex;
    margin: 0px;
    width: max-content;
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 733px;
}

h2 {
    margin-top: 250px;
    font-size: 80px;
    margin-bottom: 50px;
}

#login-form {
    margin-bottom: 50px;
}

#login-form input[type=text] {
    width: 250px;
    height: 33px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

#login-form input[type=submit] {
    width: 80px;
    height: 32px;
    border-radius: 25px;
    margin-top: auto;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
	background-color: #4B70E2;
	color: white;
	border: none;
    outline: none;
}

#todo-form input[type=text] {
    width: 332px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

ul {
    list-style:none;
    line-height: 200%;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }

#weather {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px; 
  }

#todo-list span {
    padding: 0px 10px;
}